/** 
Base Styles
Defines the base styling for elements. Imports and relies on the YUI CSS frameworks,
such as the reset,fonts,grids and base stylesheets.
Useful classes defined in this stylesheet:.even,.alt :use either of these classes on every other row of a table for zebra striping
.highlight :set this class on an element to highlight it in yellow
.error :set this class on an element to display it as an error message box
.info :set this class on an element to display it as an informational message box
.notice :set this class on an element to display it as a notice/warning box
.success :set this class on an element to display it as a success message box
.box :set this class on an element to display it as a box with a border
2008-08-20:Created by Lachlan,based on the Blueprint CSS framework[2].
2008-12-16:Added .info class.
[1] http://developer.yahoo.com/yui/reset/
[2] http://code.google.com/p/blueprintcss/
**/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,
em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body{background-color:white;color:#222;line-height:1.5;font-size:75%;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;}
h1{font-size:3em;line-height:1;margin-bottom:0.5em;}
h2{font-size:2em;margin-bottom:0.75em;}
h3{font-size:1.5em;line-height:1;margin-bottom:1em;}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em;height:1.25em;}
h5{font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6{font-size:1em;font-weight:bold;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;}
p{margin:0 0 1.5em 0;}
p img{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right{float:right;margin:1.5em 0 1.5em 1.5em;}
a,a:link{color:#0000ee;text-decoration:underline;}
a:focus,a:hover,a:active{color:#c61a1a;}
a:visited{color:#551a8b;}
blockquote{margin:1.5em;color:#666;font-style:italic;}
strong{font-weight:bold;}
em,dfn{font-style:italic;}
dfn{font-weight:bold;}
sup,sub{line-height:0;}
abbr,acronym{border-bottom:1px dotted #666;}
address{margin:0 0 1.5em 0;font-style:italic;}
del{color:#666;}
pre,code{margin:1.5em 0;white-space:pre;}
pre,code,tt,kbd,samp{/* not aligned to the baseline :-( */
font:1em 'Andale Mono','Lucida Console',monospace;line-height:1.5;}
li ul,li ol{margin:0 1.5em;}
ul,ol{margin:0 1.5em 1.5em 1.5em;}
ul li{list-style:disc outside;}
ol li{list-style:decimal outside;}
dl{margin:0 0 1.5em 0;}
dl dt{font-weight:bold;}
dl dd{margin-left:1.5em;}
table{margin-bottom:1.5em;border-collapse:collapse;}
th{font-weight:bold;background:#ddd;}
tbody th{text-align:right;}
th,td{padding:0.66667em 0.41667em 0.75em 0.41667em;/* ~ 8px,5px,9px,5px */
border:0.08333em solid #ccc;/* ~ 1px */}
tr:first-child th,tr:first-child td{padding-bottom:0.66667em;/* ~8px,accounts for extra border pixel,required to align table to the baseline */}
tr.even td,.stripe tr.even td{background:#eee;}
tfoot{font-style:italic;}
caption{text-align:center;}
input{margin-right:0.25em;}
label{font-weight:normal;}
select{width:auto;margin:0;}
fieldset{padding:1.333333em;/* ~ 16px */
margin:0 0 1.5em 0;border:0.08333em solid #ccc;/* ~ 1px */}
legend{font-weight:bold;font-size:1em;}