.indent_light_text{text-shadow:-1px -1px 0 rgba(0,0,0,0.5);}
.indent_dark_text{text-shadow:1px 1px 0 rgba(255,255,255,0.5);}
.drop_shadow{-webkit-box-shadow:0 9px 9px rgba(0,0,0,0.1);-moz-box-shadow:0 9px 9px rgba(0,0,0,0.1);box-shadow:0 9px 9px rgba(0,0,0,0.1);}
html,body,*{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:middle;text-align:left;}
body{font:75%/1.5em Helvetica,Arial,sans-serif;background:#3a3a3a url(../images/background_4x1.png) top left repeat;-webkit-text-size-adjust:none;color:black;}
a:link{display:block;text-decoration:none;color:black;}
a:visited{display:block;text-decoration:none;color:black;}
a:hover{display:block;text-decoration:none;color:black;}
li{list-style:none;}
input{background-color:white;padding:4px 0;font-size:1em;width:10em;}
input[type='submit']{text-align:center;}
textarea{width:100%;}
form fieldset.aligned{border:none;margin:0 0 1.5em 0;padding:0;}
form fieldset.aligned p{vertical-align:middle;}
form fieldset.aligned p *{vertical-align:middle;}
form fieldset.aligned label{font-weight:bold;display:inline-block;vertical-align:top;width:6em;margin:0;}
form fieldset.aligned fieldset fieldset label{font-weight:normal;display:block;width:auto;margin-left:6.25em;}
form fieldset.aligned fieldset{border:none;padding:0 0 1.5em 0;margin:0;}
form fieldset.aligned fieldset fieldset{border:none;background:transparent;padding-bottom:0;}
form fieldset.aligned fieldset legend{display:block;margin:0;padding:0;font-weight:bold;}
form fieldset.aligned fieldset fieldset legend{padding:0;font-weight:normal;}
form fieldset.aligned fieldset ol{margin:0;padding:0;}
form fieldset.aligned fieldset ul{margin:0;padding:0;}
form fieldset.aligned fieldset ol li{list-style:none;list-style-position:outside;padding:0;margin:0;}
form fieldset.aligned fieldset ul li{list-style:none;list-style-position:outside;padding:0;margin:0;}
form fieldset.aligned fieldset ol li:last-child{padding-bottom:0;}
form fieldset.aligned fieldset ul li:last-child{padding-bottom:0;}
form fieldset.aligned fieldset dl{margin:0;padding:0;}
form fieldset.aligned fieldset dl dt{margin-top:0.75em;padding:0.75em 0 0 0;font-weight:normal;}
form fieldset.aligned fieldset dl dd{padding-left:2em;}
form fieldset.aligned em{font-weight:bold;font-style:normal;color:#ff0000;}
.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .group{height:1%;}
.group{min-height:1px;}
.header{color:white;background-color:#4c0017;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));background-image:-moz-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));border-bottom:3px solid #730a2a;}
.header *{font-weight:bold;color:white;}
.header a:link{font-weight:bold;color:white;}
.header a:active{font-weight:bold;color:white;}
.header a:visited{font-weight:bold;color:white;}
.header .brand .name{font-size:18px;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);}
.header .brand{float:left;padding:9px;}
.header .action{float:right;}
.header .action a{padding:15px;}
.header .brand .name a{padding:7px 0 7px 35px;background:transparent url(../images/logo_32x32.png) no-repeat center left;}
html,body,.container{height:100%;}
body > .container{height:auto;min-height:100%;}
.container{margin-bottom:-35px;}
.push{height:35px;}
.footer{position:relative;margin-top:-35px;height:17px;width:100%;clear:both;padding:9px 0;}
.nav{background:#bababa url(../images/gradient_e3e3e3_bababa_1x30.png) repeat-x top left;font-weight:bold;}
.nav ul{padding:1px 2px 0 6px;}
.nav li{float:left;white-space:nowrap;}
.nav li a{color:#666666;padding:6px 9px;}
.nav a:hover{color:#730a2a;}
.nav .selected a{color:#730a2a;}
.nav .selected a:hover{color:#730a2a;}
.nav .selected{background:#f4f4f4 url(../images/tab_right_1000x30.png) no-repeat top right;}
.nav .selected a{background:transparent url(../images/tab_left_7x30.png) no-repeat top left;}
.nav .selected a:hover{background:transparent url(../images/tab_left_7x30.png) no-repeat top left;}
.content > p{margin:9px 14px;font-size:17px;text-align:center;color:#f4f4f4;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);}
.panel{font-size:17px;display:block;margin:9px;border:1px solid #d9d9d9;background-color:#e5e5e5;background-image:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));background-image:-moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 9px 9px rgba(0,0,0,0.1);-moz-box-shadow:0 9px 9px rgba(0,0,0,0.1);box-shadow:0 9px 9px rgba(0,0,0,0.1);}
.panel *{font-size:1em;text-shadow:1px 1px 0 rgba(255,255,255,0.5);color:black !important;text-align:left !important;margin:0 !important;}
.panel > *{display:block;border-top:1px solid #d9d9d9;background-image:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));background-image:-moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));}
.panel > *:first-child{border:none;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;border-top-left-radius:8px;border-top-right-radius:8px;}
.panel > *:last-child{-webkit-border-bottom-left-radius:8px;-webkit-border-bottom-right-radius:8px;-moz-border-radius-bottomleft:8px;-moz-border-radius-bottomright:8px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
.panel .item{padding:9px;display:block;}
.panel .item *{font-weight:normal;font-size:0.7647em;line-height:1.9231em;}
.panel .item{font-weight:bold;font-size:1em;line-height:1.4706em;}
.panel .item > *:first-child{font-weight:bold;font-size:1em;line-height:1.4706em;}
.panel .item .title{font-weight:bold;font-size:1em;line-height:1.4706em;}
.panel a.item{background-position:center right;background-repeat:no-repeat;padding-right:17px;background-color:transparent;background-image:none;}
.list li a{background-position:center right;background-repeat:no-repeat;padding-right:17px;background-color:transparent;background-image:none;}
.panel a.item{background-image:url(../images/chevron_17x13.png);}
.list li a:last-child{background-image:url(../images/chevron_17x13.png);}
.list{font-size:1.41667em;font-weight:bold;padding-bottom:10px;background:transparent url(../images/drop_shadow_1x10.png) bottom left repeat-x;}
.list li.heading{background:#9f9f9f url(../images/list_header_2x23.png) top left repeat-x;height:23px;padding-top:0;padding-bottom:0;border:none;}
.list li{border-bottom:1px solid #d9d9d9;background-color:#f4f4f4;background-image:-webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));background-image:-moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));text-shadow:1px 1px 0 rgba(255,255,255,0.5);}
.list li > *{padding:9px;display:block;}
.list li.heading > *{line-height:23px;padding:0 9px;}
.favourite .remove{float:left;padding:0 9px !important;height:64px;width:21px;background:transparent url(../images/minus_21x21.png) center center no-repeat;}
.favourite .add{height:21px;width:21px;background:transparent url(../images/plus_21x21.png) center center no-repeat;}
.favourite .remove span{display:none;}
.favourite .add span{display:none;}
.favourite .journey{margin-left:30px !important;height:46px;padding-left:0 !important;}
.departing,.arriving,.countdown{display:block;float:left;margin:0 9px 0 0;}
.countdown{width:51px;margin-top:12px;margin-bottom:12px;text-shadow:-1px -1px 0 rgba(0,0,0,0.5);font-size:0.7059em;color:white;background-color:#37af37;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;line-height:1em;padding:5px;font-weight:normal;text-align:center;}
.less_than_ten_minutes{background-color:#bebb00;}
.less_than_five_minutes,.unknown{background-color:#af4b37;}
.departing,.arriving{width:101px;text-shadow:1px 1px 0 rgba(255,255,255,0.5);font-weight:bold;margin:5px 9px 5px 0;}
.favourite .departing{width:88px;}
.favourite .arriving{width:88px;}
.arriving *{text-align:right;}
.nowrap{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:block;}
.station{color:#666666;font-size:0.7647em;}
.stops > *{margin-left:9px;display:block;float:left;}
.stops > *:first-child{margin-left:0;}
.stops .time{float:right;text-align:right;}
.stops .platform{float:right;text-align:right;}
.stops .change{float:right;text-align:right;}
.stops .time{width:75px;padding:5px 0;}
.stops .station{font-size:1em;width:134px;padding:5px 0;}
.stops .countdown{margin-top:3px;margin-bottom:3px;}
.stops .platform{font-size:0.7647em;line-height:1.9231em;clear:right;}
.stops .change{font-size:0.7647em;line-height:1.9231em;clear:right;}
.home,.about{width:100%;height:17px;background-color:transparent;background-position:center center;background-repeat:no-repeat;}
.home{background-image:url(../images/home_17x17.png);}
.about{background-image:url(../images/info_17x17.png);}
.home span{display:none;}
.about span{display:none;}
.hide{display:none;}
