%section#settings.page
  %header
    %h1
      %a{:href => '/'}= SITE_NAME
    %a.submit.back{:href => "#settings"}Done
  - form_tag "/favourites", :method => "post" do
    %ol
      - for @favourite in @favourites
        %li
          %span
            - if @favourite.departing
              - departing_code = @favourite.departing.code
            - else
              - departing_code = nil
            = select "origin", @favourite.id, @stations.map {|s| [s.name, s.code]}, { :selected => departing_code, :include_blank => 'Origin'}
            to 
            - if @favourite.arriving
              - arriving_code = @favourite.arriving.code
            - else
              - arriving_code = nil
            = select "destination", @favourite.id, @stations.map {|s| [s.name, s.code]}, { :selected => arriving_code, :include_blank => 'Destination'}