%section#about.page
  %header
    %a.reverse.flip.transition{:href => "#"}Back
    %h1.title
      %a{:href => '/'}= SITE_NAME
  %section
    %ul
      %li
        %h2 About
        %p= ABOUT_BLURB
      %li
        %h2 Credits
        %p Design and development by Kevin Read and Lachlan Dowding. Served from #{h Socket.gethostname}.