<%- content_for :nav do -%>
<div class="nav yui-g">
	<ul class='main'>
		<%- JOURNEY_NAV_LINKS.each do |link| -%>
			<li<%= " class='selected'" if link == controller.action_name -%>>
				<%= link_to link.capitalize, :action => link, :departing => @departing, :arriving => @arriving -%>
			</li>
		<%- end -%>
	</ul>
</div>
<%- end -%>