<%- content_for :actions do -%>
		<%- unless @hide_return_journey -%>
			<div class="action">
				<%- link_to({ :controller => 'timetable', :action => params[:action], :departing => @arriving, :arriving => @departing }) do -%>
          <%= image_tag 'return_icon_25x17.png', :alt => 'Return journey' %>
				<%- end -%>
			</div>
		<%- end -%>
		<!--
		<div class="action">
      <%= link_to "#{@favourite_verb.capitalize} Favourite", { :controller => 'timetable', :action => "#{@favourite_verb}_favourite", :departing => @departing, :arriving => @arriving }, :class => "button #{@favourite_verb}-favourite" %>
		</div>
		-->
<%- end -%>