<% if @journeys %>
<ul class="list">
	<% if @journeys.length > 0 %>
	  	<% @journeys.each do |journey| %>
		  	<li>
				<%= link_to (h format_time(journey.departing_at)), :action => 'journey', :departing => @departing.code, :arriving => @arriving.code, :departing_at => format_time(journey.departing_at, :iso8601) %>
			</li>
		<% end %>
	<% else %>
		<li>No train services found.</li>
	<% end %>
</ul>
<% end %>