<% show_headings ||= false %>
<% if @journeys %>
<ol class="list">
	<% unless @journeys.empty? %>
		<% if show_headings %>
			<%= "<li>No further services today.</li>" unless Time.zone.now.day == @journeys.first.departing_at.day %>
		<% end %>
		<% day = Time.zone.now.day %>
	  	<% @journeys.each do |journey| %>
			<% if show_headings %>
				<%= "<li class='heading'><h3>#{format_time(journey.departing_at, :weekday)}</h3></li>" unless day == journey.departing_at.day %>
			<% end %>
 		  	<li>
				<% link_to(:action => 'journey', :departing => @departing.code, :arriving => @arriving.code, :departing_at => format_time(journey.departing_at, :iso8601)) do %>
					<%= format_time(journey.departing_at) %>
				<% end %>
			</li>
			<% day = journey.departing_at.day %>
		<% end %>
	<% else %>
		<li>No services available.</li>
	<% end %>
</ol>
<% end %>