- @title = 'About'
- @brand_title = "#{SITE_NAME}"
= render(:partial => 'home')
.panel
  .item
    %h2.title About
    %p= ABOUT_BLURB
  .item
    %h2.title Credits
    %p Design and development by Kevin Read and Lachlan Dowding. Served from #{h Socket.gethostname}.