<% @title = 'About' %>
<% @brand_title = "#{SITE_NAME}" %>
<div class="panel">
	<div>
		<h2>About</h2>
		<p><%= h ABOUT_BLURB %></p>
	</div>
	<div>
		<h2>Credits</h2>
		<p>Design and development by Kevin Read and Lachlan Dowding.</p>
	</div>
</div>