<% @title = 'About' %>
<% @brand_title = "#{SITE_NAME}" %>

<ul class="panel">
	<li>
		About
		<span class='secondary'><%= h ABOUT_BLURB %></span>
	</li>
	<li>
		Credits
		<span class='secondary'>Design and development by Kevin Read and Lachlan Dowding.</span>
	</li>
</ul>