<% @title = 'About' %>
<ul class="panel">
	<li>
		About
		<span class='secondary'>MyCitytrain is about taking the QR Citytrain timetable with you on the go. Optimised for mobile devices like the iPhone, it's now easy to check when your next train departs wherever you are.</span>
	</li>
	<li>
		Credits
		<span class='secondary'>Code and design by KR and LD.</span>
	</li>
</ul>