<%- @title = 'About' -%>
<%- @brand_title = "#{SITE_NAME}" -%>
<div class='panel'>
	<div class='item'>
		<h2 class='title'>About</h2>
		<p><%= h ABOUT_BLURB %></p>
	</div>
	<div class='item'>
		<h2 class='title'>Credits</h2>
		<p>Design and development by Kevin Read and Lachlan Dowding.</p>
	</div>
</div>
<div class='panel'>
	<h2><%= link_to 'Feedback', {:controller => 'timetable', :action => 'feedback'}, :class => 'item' -%></h2>
</div>