<% @title = "#{h @departing.name} to #{h @arriving.name}" %>
<% @html_class = 'list' %>
<% @header_class = 'yui-gc' %>
<%= render(:partial => "journey_actions") %>
<%= render(:partial => "journey_navigation") %>
<h2 class='hide'><%= params[:action].titleize + "'s Journeys" %></h2>
<%= render(:partial => "journeys") %>