<%- content_for :footer do -%>
  <%- link_to({:controller => 'timetable', :action => 'about'}) do -%>
    <%= image_tag 'info_icon_17x17.png', :alt => 'About this site' %>
  <%- end -%>
<%- end -%>
<%- if @favourites.empty? -%>
<div class="panel">
  <div class="item">
    <h2>Welcome&hellip;</h2>
    <p>To get started press the plus button to add a new trip.</p>
  </div>
</div>
<%- else -%>
	<h2 class='hide'>Favourites</h2>
	<%= render(:partial => "journeys", :locals => { :link_to_upcoming => true }) -%>
<%- end -%>