<%- @title = "#{@departing.name} &rarr; #{@arriving.name}" -%>
<%- @html_class = 'list' -%>
<%- @header_class = 'yui-gc' -%>
<%= render(:partial => "journey_actions") -%>
<%= render(:partial => "journey_navigation") -%>
<h2 class='hide'>Upcoming Journeys</h2>
<%= render(:partial => "journeys", :locals => { :show_headings => true }) -%>