html,body,* {
margin: 0;
padding: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: middle;
text-align: left;
line-height:1em;
}
body {
font: 75%/1.5em Helvetica,Arial,sans-serif;
background: #3a3a3a url(../images/background_4x1.png) top left repeat;
-webkit-text-size-adjust: none;
color: black;
}
a:link {
display: block;
text-decoration: none;
color: black;
}
a:visited {
display: block;
text-decoration: none;
color: black;
}
a:hover {
display: block;
text-decoration: none;
color: black;
}
li {
list-style: none;
}
input {
padding: 4px 0;
font-size: 1em;
width: 10em;
}
input[type='submit'] {
text-align: center;
}
select {
  width: 8em;
}
textarea {
width: 100%;
}
.group:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
* html .group {
height: 1%;
}
.group {
min-height: 1px;
}

.toolbar .title a {
color:white;
padding-left: 35px;
background: transparent url(/images/logo_32x32.png) no-repeat center left;
}



body {
  background: #000;
  color: #ddd;
}
body > * {
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#5e5e65));*/
    background: #3a3a3a url(/images/background_4x1.png) top left repeat;    
}
h1, h2 {
    font: bold 18px Helvetica;
    text-shadow: rgba(255,255,255,.2) 0 1px 1px;
    color: #000;
    margin: 10px 20px 5px;
}
/* @group Toolbar */
.toolbar {
    -webkit-box-sizing: border-box;
    padding: 10px;
    height: 45px;
    position: relative;
    
    background-color: #4c0017;
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));
    background-image: -moz-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.1)),to(rgba(0,0,0,0.1)));
    background: #7a001f url(/images/header_background_1x45.png) repeat-x top left;
    border-bottom: 2px solid #730a2a;
    color: white;
}
.black-translucent .toolbar {
	margin-top: 20px;
}
.toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 10px;
    line-height: 1em;
    margin: 1px 0 0 -75px;
    height: 40px;
    font-size: 20px;
    width: 150px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,1) 0 -1px 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
body.landscape .toolbar > h1 {
    margin-left: -125px;
    width: 250px;
}
.button, .back, .cancel, .add {
    color:white;
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 5px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    /*-webkit-border-image: url(img/button.png) 0 5 0 5;*/
    -webkit-border-image: url(/images/button_28x28.png) 0 6 0 6;
}
.submit {
  -webkit-border-image: url(/images/button_blue_28x28.png) 0 6 0 6;
}
a.button, a.back {
  color:white;
}
.blueButton {
    -webkit-border-image: url(img/blueButton.png) 0 5 0 5;
    border-width: 0 5px;
}
.back {
    left: 5px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(img/back_button.png) 0 8 0 14;
}
.back.active {
    -webkit-border-image: url(img/back_button_clicked.png) 0 8 0 14;
    color: #aaa;
}
.leftButton, .cancel {
    left: 6px;
    right: auto;
}
.add {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
}
.whiteButton,
.grayButton {
    display: block;
    border-width: 0 12px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: inherit;
    color: inherit;
}
.whiteButton {
    -webkit-border-image: url(img/whiteButton.png) 0 12 0 12;
    text-shadow: rgba(255, 255, 255, 0.7) 0 1px 0;
}
.grayButton {
    -webkit-border-image: url(img/grayButton.png) 0 12 0 12;
    color: #FFFFFF;
}
/* @end */
/* @group Lists */
h1 + ul, h2 + ul, h3 + ul, h4 + ul, h5 + ul, h6 + ul {
    margin-top: 0;
}
/*
ul {
    color: #aaa;
    border: 1px solid #333333;
    font: bold 18px Helvetica;
    padding: 0;
    margin: 15px 10px 17px 10px;
}
ul.rounded {
    -webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}
ul.rounded li:first-child, ul.rounded li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
ul.rounded li:last-child, ul.rounded li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
ul li {
    color: #666;
    border-top: 1px solid #333;
    border-bottom: #555858;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    overflow: hidden;
}
ul li.arrow {
    background-image: url(img/chevron.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward {
    background-image: url(img/chevron_circle.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c4d4e), to(#404142));
    background-position: right center;
    background-repeat: no-repeat;
}*/
/* universal links on list */
/*
ul li a, li.img a + a {
    color: #fff;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 12px 10px 12px 10px;
    margin: -10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-shadow: rgba(0,0,0,.2) 0 1px 1px;
}
ul li a.active, ul li a.button {
    background-color: #53b401;
    color: #fff;
}
ul li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
}
ul li.arrow a.active {
    background-image: url(img/chevron.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.forward a.active {
    background-image: url(img/chevron_circle.png);
    background-position: right center;
    background-repeat: no-repeat;
}
ul li.img a + a {
    margin: -10px 10px -20px -5px;
    font-size: 17px;
    font-weight: bold;
}
ul li.img a + a + a {
    font-size: 14px;
    font-weight: normal;
    margin-left: -10px;
    margin-bottom: -10px;
    margin-top: 0;
}
ul li.img a + small + a {
    margin-left: -5px;
}
ul li.img a + small + a + a {
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 14px;
    font-weight: normal;
}
ul li.img a + small + a + a + a {
    margin-left: 0px !important;
    margin-bottom: 0;
}
ul li a + a {
    color: #000;
    font: 14px Helvetica;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
ul li a + a + a, ul li.img a + a + a + a, ul li.img a + small + a + a + a {
    color: #666;
    font: 13px Helvetica;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}
*/
/*
@end */
/* @group Forms */
/*
ul.form li {
    padding: 7px 10px;
}
ul.form li.error {
    border: 2px solid red;
}
ul.form li.error + li.error {
    border-top: 0;
}
ul li input[type="text"], ul li input[type="password"], ul li textarea, ul li select {
    color: #777;
    background: transparent url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
}
ul li textarea {
    height: 120px;
    padding: 0;
    text-indent: -2px;
}
ul li select {
    text-indent: 0px;
    background: transparent url(img/chevron.png) no-repeat right center;
    -webkit-appearance: textfield;
    margin-left: -6px;
    width: 104%;
}
ul li input[type="checkbox"], ul li input[type="radio"] {
    margin: 0;
    padding: 10px 10px;
}
ul li input[type="checkbox"]:after, ul li input[type="radio"]:after {
    content: attr(title);
    font: 17px Helvetica;
    display: block;
    width: 246px;
    color: #777;
    margin: -12px 0 0 17px;
}
*/
/* @end */
/* @group Mini Label */
/*
ul li small {
    color: #64c114;
    font: 17px Helvetica;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 0;
}
ul li.arrow small {
    padding: 0 15px;
}
ul li small.counter {
    font-size: 17px;
    line-height: 13px;
    font-weight: bold;
    background: rgba(0,0,0,.15);
    color: #fff;
    -webkit-border-radius: 11px;
    padding: 4px 10px 5px 10px;
    display: block;
    width: auto;
    margin-top: -22px;
    -webkit-box-shadow: rgba(255,255,255,.1) 0 1px 0;
}
ul li.arrow small.counter {
    margin-right: 15px;
}
*/
ol, ul {
font-size: 17px;
font-weight: bold;
padding-bottom: 10px;
background: transparent url(/images/drop_shadow_1x10.png) bottom left repeat-x;
}
li {
padding: 9px;  
border-bottom: 1px solid #d9d9d9;
background-color: #f4f4f4;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
background-image: -moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
color: #666;
text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
li a {
background-position: center right;
background-repeat: no-repeat;
padding: 9px 26px 9px 9px;
margin: -9px;
background-color: transparent;
background-image: none;
}
li a:last-child {
background-image: url(/images/chevron_17x13.png);
}
li > * {
display: block;
}
.eta {
  font-size:12px;
  float:left;
  background-color: #66cc00;
  border-bottom: 1px solid #59b200;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#66cc00),to(#53bc00));
  background-image: -moz-gradient(linear,left top,left bottom,from(#66cc00),to(#53bc00));
  
  
  margin: -9px 9px -10px -9px;
  padding: 17px 5px 17px;
  text-align: center;
  width: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  color: white;    
  
}
.less_than_ten_minutes {
  background-color: #ff8c00;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#ff8c00),to(#d86c00));
  background-image: -moz-gradient(linear,left top,left bottom,from(#ff8c00),to(#d86c00));
  border-color: #c60;
}
.less_than_five_minutes,.unknown {
  background-color: #e50000;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e50000),to(#bf0000));
  background-image: -moz-gradient(linear,left top,left bottom,from(#e50000),to(#bf0000));
  border-color: #b20000;
}
.departing,.arriving {
width: 118px;
text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
font-weight: bold;
float:left;
}
.arriving{
  margin-left:9px;
  float:right;
}
.arriving * {
  text-align: right;
}
.departing *, .arriving * {
  display:block;
}
.station {
color: #666;
font-size: 13px;
line-height: 20px;
}
.time {
  line-height:20px;
}
li h2 {
  margin-left: 0;
  font-size: 17px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}
li p {
  font-size:13px;
}
.panel {
font-size: 17px;
padding: 0;
display: block;
margin: 9px;
border: 1px solid #d9d9d9;
background-color: #e5e5e5;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
background-image: -moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 9px 9px rgba(0,0,0,0.1);
-moz-box-shadow: 0 9px 9px rgba(0,0,0,0.1);
box-shadow: 0 9px 9px rgba(0,0,0,0.1);
}
.panel * {
font-size: 1em;
text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
color: black !important;
text-align: left !important;
margin: 0 !important;
}
.panel > * {
display: block;
border-top: 1px solid #d9d9d9;
border-bottom: none;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
background-image: -moz-gradient(linear,left top,left bottom,from(#f4f4f4),to(#e5e5e5));
}
.panel > *:first-child {
border: none;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.panel > *:last-child {
-webkit-border-bottom-left-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomleft: 8px;
-moz-border-radius-bottomright: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
.panel .item {
padding: 9px;
display: block;
}
.panel .item * {
font-weight: normal;
font-size: 0.7647em;
line-height: 1.9231em;
}
.panel .item {
font-weight: bold;
font-size: 1em;
line-height: 1.4706em;
}
.panel .item > *:first-child {
font-weight: bold;
font-size: 1em;
line-height: 1.4706em;
}
.panel .item .title {
font-weight: bold;
font-size: 1em;
line-height: 1.4706em;
}
.panel a.item {
background-position: center right;
background-repeat: no-repeat;
padding-right: 17px;
background-color: transparent;
background-image: none;
}
.panel a.item {
background-image: url(../images/chevron_17x13.png);
}