%li.journey{:title=>format_time(journey.departing_at, :iso8601)}
  %p.eta{:class=>classify_duration_to_now(journey.departing_at)}
    %span.visuallyhidden Departing in
    =duration_in_concise_words_from_now(journey.departing_at)
  %p.origin
    %span.visuallyhidden Departs
    =journey.departing.name 
    %abbr.time{:title => format_time(journey.departing_at, :iso8601), :"data-time" => format_time(journey.departing_at, :js)}= format_time(journey.departing_at)
  %p.destination
    %span.visuallyhidden Arrives 
    =journey.arriving.name 
    %abbr.time{:title => format_time(journey.arriving_at, :iso8601), :"data-time" => format_time(journey.arriving_at, :js)}= format_time(journey.arriving_at)
