- unless request.xhr?
  %p.browser-warning{:style => 'display:none;'}
    Your web browser does not support many of the features required for 
    %a{:href => 'http://mycitytrain.info'}mycitytrain.info
    to function. Please upgrade to a modern, standards-compliant web browser for the full 
    %a{:href => 'http://mycitytrain.info'}mycitytrain.info
    experience. We recommend 
    %a{:href => 'http://www.apple.com/safari/'}Apple Safari 5
    , 
    %a{:href => 'http://www.google.com/chrome'}Google Chrome 5
    , or 
    %a{:href => 'http://www.mozilla.com/firefox/'}Mozilla Firefox 3.6
    ='.'
= render :partial => 'favourites'
- unless request.xhr?
  = render :partial => 'settings'
  = render :partial => 'about'