<!DOCTYPE html>
%html
  %head
    - pagetitle = SITE_NAME
    - pagetitle += ": " + @title if @title
    %title=  pagetitle
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %link{:rel => "apple-touch-startup-image", :href => "/images/startup_320x460.png"}
    %link{:rel => "icon", :type => "image/png", :href => "/images/logo_32x32.png"}
    %link{:rel => "apple-touch-icon", :href => "/images/logo_60x60.png"}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
    - if RAILS_ENV == 'production'
      %script{:src => '/app.min.js', :type => 'text/javascript'}
      %link{:rel => 'stylesheet', :href => '/app.min.css'}
    - else
      %script{:src => '/app.js', :type => 'text/javascript'}
      %link{:rel => 'stylesheet', :href => '/app.css'}
  %body
    .header
      %h1= SITE_NAME
    .content= yield
    .hint
      %p 
        Add 
        %strong mycitytrain.info
        to your home screen.
    